body {
  background-color: #000000;
  color: #ffffff
}
.links {
  text-align: right;
  position: fixed;
  top: 50px;
  right: 80px;
}
a:link {
  color: #ffffff;
}
a:visited {
  color: #000000;
}
a:hover {
  color: ##15688a;
}
.box {
  width: 100%;
  height: 105px;
  background-color: #363636;
  border-bottom: #ffffff 4px solid;
  position: fixed;
  top: 0px;
  z-index: 5;
}
.fear {
  text-align: center;
  margin-top: 125px;
}
h2 {
  text-align: center;
  font-family: Helvetica;
}
h3 {
  color: white;
}
form {
  text-align: center;
  color: #ffffff;
}
.welcome {
  text-align: center width: 100%;
  height: 400px;
  background-image: url("http://i.ytimg.com/vi/GcUiuqZ1nPg/maxresdefault.jpg");
  border-bottom: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  border-left: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
}
.backgroundtable {
  height: 290px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  background-color: #000000 !important;
  opacity: 0.8;
  border-bottom: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  border-left: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
}
iframe {
  border-top: #ffffff 1px solid;
  border-right: #ffffff 2px solid;
  border-left: #ffffff 2px solid;
  border-bottom: #ffffff 1px solid;
  align-content: center;
}
footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-color: #363636;
  border-top: #ffffff 4px solid;
  z-index: 5;
}
p {
  text-align: center;
}
